services:
  api:
    build:
      context: ./api
    ports:
      - "8001:8001"
    environment:
      - PORT=8001

  ui:
    build:
      context: ./ui
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:8001